name: Go Language
injections:
  coc_settings_languageserver:
    - '"golang": {
            "command": "gopls",
            "rootPatterns": ["go.mod", ".vim/", ".git/", ".hg/"],
            "filetypes": ["go"],
            "initializationOptions": {
                "usePlaceholders": true
            }
        }'
commands:
  pre-template:
    - GO111MODULE=on go get golang.org/x/tools/gopls@latest
